
.circle {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 20px;
 }
 .overview-box {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 650px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  padding-top: 20px;
  background-color: white;
 }


.message-container p {
  margin-top: 10px;
  color: black;
}

 .bookings {
   display: flex;
   flex-direction: row;
   background-color: lightgrey;
   border-radius: 5px;
   width: 800px;
   padding: 15px;
   margin: 10px;
 }

 .booking__btns {
   margin: 50px 0px 0px 160px;
 }

 .booking__btns a {
   margin: 0px 10px;
 }

 .container-chat {
  height: 500px;
  overflow-y: scroll;
 }

.style-margin {
  margin-top: 50px;
}