.avatar-very-large1 {
  width: 100%;
  border-radius: 50%;
  -o-object-fit: contain;
  object-fit: cover;
  height: 100%;
}

.circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
 }

 .overview-box {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 885px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
 }