.nanny-card {
  display: flex;
}

.status {
  margin-left: 65px;
}

.show-booking-nanny{
  margin-left: 25px;
}

.review-button {
  margin-left: 100px !important;
}

.details {
  margin-left: 110px;
}

.review-margin {
  margin-right: 5px !important;
}

