.container-custom {
  margin-right: 50px;
  margin-left: 50px;
  min-height: 100vh;
}

.edit-profile-div {
  min-height: 100vh;
    margin-left: 10%;
    /* margin-right: 50px; */
    position: absolute;
    left: 5%;
    width: 400px;
}
.overview-box1 {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 950px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  padding-top: 20px;
  background-color: white;
}

.form-actions {
  text-align: center;
}

.circle-edit-page {
  border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    display: flex;
    margin-bottom: 35px !important;
    margin: auto;
    display: block;
}

.container-log-in {
  padding: 400px;
  padding-top: 13px;
}

.container-custom-edit {
  margin-right: 300px;
  margin-left: 300px;
  min-height: 100vh;
}

.center-buttons {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.overview-box-login {
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    height: 500px;
    /* margin: 10px; */
    text-align: center;
    border-radius: 20px;
    padding-top: 20px;
    padding-right: 13px;
    background-color: white;
  }

  .center-buttons1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: fit-content;
  }