.container-custom {
  margin-right: 50px;
  margin-left: 50px;
  min-height: 100vh;
}

.edit-profile-div {
  min-height: 100vh;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    position: absolute;
    left: 5%;
    width: 361px;
}
.overview-box1 {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 1500px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  padding-top: 20px;
  background-color: white;
}

.form-actions {
  text-align: center;
}

.circle-edit-page {
  border-radius: 50%;
  /* height: 250px; */
  /* width: 250px; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 20px;
  margin-left: 0px;
  position: absolute;
  /* left: 0px; */
}
