// Specific CSS for your home-page
.home-page-image {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url("https://res.cloudinary.com/beno5/image/upload/v1606488766/juliane-liebermann-O-RKu3Aqnsw-unsplash_invccr.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

p {
  color: white; 
  margin-top: 500px;
}

.container {
  min-height: 100vh;
  margin-left: 50px;
  margin-right: 50px;
}

.parenter-logo {
  position: absolute;
  top: 15%;
  /* left: 50%; */
  width: 15%;
  background-color: transparent;
  border-radius: 50%;
}