.details-list {
  list-style-type: none;
  /* border: 1px solid #454E57; */
  /* border-radius: 5px; */
  padding: 12px 20px;
  width: 50%;
  position: absolute;
  right: 0px;
  bottom: 64px;
}

.details-list1 {
  list-style-type: none;
  /* border: 1px solid #454E57; */
  /* border-radius: 5px; */
  padding: 12px 20px;
  width: 50%;
  position: absolute;
  right: 0px;
  top:0;
}

.show-page {
  display: flex;
  .show-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


ul2 {
  list-style-type: none;
  border-radius: 5px;
  padding: 12px 20px;
}
.show-page-container {
  margin-bottom: 20px;
}
.show-container-left {
  position: relative;
}
.circle-show-page {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 20px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
 }

 .large-font-show {
  font-size: 25px;
  text-align: center;
 }

 .margin-show {
  margin: 40px auto;
 }

 .float-left {
  float: left;
  width: 50%;
 }

 .bio {
  bottom: 5%;
  text-align: center;
  margin-top: 10px;
 }

 .review {
   text-align: center;
   margin-top: 100px;
 }

 .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 50px;
  margin-left: 50px;
 }

 .date-picker-column {
  margin-left: 20px;
  margin-right: 20px;
 }

 .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
  margin-left: 50px;
}

.margin-left-show {
  margin-left: 50px;
}

