.users-page {
  display: flex;

  .users-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.search-edited {
  display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 0px !important;
}