
<div class="container">
  <div class="row">
    <div class="col-sm-6 mb-3 mt-3">
      <div class="card-product">
        <%= image_tag "zim.jpg"%>
        <div class="card-product-infos">
          <h2>Nanny</h2>
          <h5 class= "right">€</h5>
          <p>Rating</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mt-3">
      <div class="card-product">
        <%= image_tag "zim.jpg"%>
        <div class="card-product-infos">
          <h2>Nanny</h2>
          <h5 class= "right">€</h5>
          <p>Rating</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mt-3">
      <div class="card-product">
        <%= image_tag "zim.jpg"%>
        <div class="card-product-infos">
          <h2>Nanny</h2>
          <h5 class= "right">€</h5>
          <p>Rating</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mt-3">
      <div class="card-product">
        <%= image_tag "zim.jpg"%>
        <div class="card-product-infos">
          <h2>Nanny</h2>
          <h5 class= "right">€</h5>
          <p>Rating</p>
        </div>
      </div>
    </div>
  </div>
</div>

