<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github mx-4"></i></a>
    <a href="#"><i class="fab fa-instagram mx-4"></i></a>
    <a href="#"><i class="fab fa-facebook mx-4"></i></a>
    <a href="#"><i class="fab fa-twitter mx-4"></i></a>
    <a href="#"><i class="fab fa-linkedin mx-4"></i></a>
  </div>
</div>
    