<% content_for :nav, render('shared/custom_nav') %>
<div class='wrapper'>
    <div class='banner-container'>

        <%= image_tag "Parenter Logo 1.png"%>
        
        <p>Find nannies.</p>

        <%= link_to "GET STARTED", users_path, class: "btn btn-primary" %>
    </div>
</div>
