.btn-primary {
    padding: 8px 20px;
    border-radius: 30px;
    background-color: #EC4369;
    // outline: none !important;
    border: 1px solid #EC4369;
}

.btn-primary:hover {
   // background-color: #EC4369;
    background-color: black;
   // opacity: 0.7;
}

.btn {
    // text-decoration: none !important;
}
