#calendar {
  margin: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  height: 850px;
}

.fc-today-button {
  background-color: #EC4469 !important;
  border-color: #EC4469 !important;
}

.calendar-day-header a {
  color: #EC4469;
}
