#calendar {
  margin: 40px auto;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.fc-today-button fc-button fc-button-primary {
  background-color: pink;
}

.custom-calendar {
  height: 500px;
}