
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 50px;
  width: 250px;
  margin: 5px;
}

.card-product img {
  border-radius: 50%;
  width: 170px; 
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50px;
  margin: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  //position: absolute;
  top: 10px;
  color:#EC4469;
  display: inline;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  bottom: 10px;
  // position: absolute;
  color:#EC4469;
}

.card-product-infos {
  position: relative;
  width: 100%;
}

.right {
  position: absolute;
  right: 5px;
  vertical-align: middle;
  line-height: 5px;
  color:#EC4469;
  margin: 0px 10px 10px 0px;
}

.card-product-infos i {
  font-size: 10px;
}

.hover-delete {
  text-decoration: none !important;
}

// show

.show-book-card {
  display: flex;
  flex-wrap: wrap;
}

.show-card {
  width: 650px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  flex-grow: 1;
}

.show-card__info i {
  color: #fdb434;
}
.show-card__info {
position: absolute;
bottom: 5%;
left: 9%;
}

.review-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  /* overflow: hidden; */
  /* height: 120px; */
  background: white;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  /* width: 250px; */
  margin: 5px;
  padding:10px;
  max-width: min-content;
}

.review-info {
  align-items: center;
  width: 251px;
  display: flex;
  justify-content: space-between;
}

.review-parent {
  display: flex;
  justify-content: space-between;
}