
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 50px;
  width: 250px;
  margin: 5px;
}

.card-product img {
  height: 90%;
  /* width: 120px; */
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50px;
  margin: 6px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  //position: absolute;
  top: 10px;
  color:#EC4469;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  bottom: 10px;
  // position: absolute;
  color:#EC4469;
}

.card-product-infos {
  padding: 6px;
  position: relative;
  width: 100%;
}

.right {
  position: absolute;
  right: 5px;
  vertical-align: middle;
  line-height: 5px;
  color:#EC4469;
  padding: 0px 20px 0px 0px;
}

.hover-delete {
  text-decoration: none !important;
}

// show

.show-book-card {
  display: flex;
  flex-wrap: wrap;
}

.show-card {
  width: 650px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  flex-grow: 1;
}

.show-card__info i {
  color: #fdb434;
}
.show-card__info {
position: absolute;
bottom: 5%;
left: 9%;
}
