.footer {
  background-color: gray; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  // color: rgba(0,0,0,0.3);
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
  padding:0;
}

html {
  position: relative;
}

.footer-links {
  display: flex;
  align-items: center;
  color: black;
}
.footer-links a {
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  color: black;
}
.footer-links a:hover {
  opacity: 1;
}
