.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #EC4469;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  position: relative;
  width: 100px;
  left: 15px;

}

.custom_nav_color {
  position: fixed;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  background: none;
  z-index: 1;
}

.custom_nav_color .navbar-collapse {
  flex-grow: 0;
}

.custom_nav_color .navbar-brand img {
  position: relative;
  width: 100px;
  left: 15px;
}

.center-alignment {
  text-align: center;
  font-size: small;
}

.unsigned-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;
}

.circle-navbar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 0;
  cursor: pointer;
 }

.nav-link-custom {
  color: white;
  text-decoration: none;
  margin: 50px;
  }

.nav-link-custom:hover{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.nav-link {
  margin-left: 50px;
  margin-right: 50px;
}

.font-white {
  color:white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: 500;
}
