.navbar-lewagon {
  display: flex;
  justify-content: center;
  background: #EC4469;
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  position: relative;
  width: 70px;
  left: 15px;
}
