// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/booking-overview";

@import 'mapbox-gl/dist/mapbox-gl';
@import "flatpickr/dist/flatpickr";

/* ----------------------
primary color: #EC4369
secondary color: ? proposal: #F49CB0
neutral color: #F8F9FC
typeface color: #454E57
------------------------*/

// html * {
//    color: #454E57;
// }
.container-custom {
  margin-right: 50px;
  margin-left: 50px;
  min-height: 100vh;
}

.edit-profile-div {
  min-height: 100vh;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    position: absolute;
    left: 5%;
    width: 361px;
}
.overview-box1 {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 725px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  padding-top: 20px;
  background-color: white;
}